<% if @company_data && @quote_data %>
    <div class="card m-2">
    <div class="card-header">
        <h3><%= params[:stock] %> information</h3>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><h6>Company Name: <span class="badge text-bg-secondary"><%= @company_data[:name] %> (<%= @company_data[:country] %>)</span></h6></li>
        <li class="list-group-item"><h6>Last price: <span class='badge text-bg-secondary'><%= @quote_data[:price] %> <%= @company_data[:currency] %></span></h6></li>
        <li class="list-group-item"><h6>Exchange: <span class='badge text-bg-secondary'><%= @company_data[:exchange] %></span></h6></li>
    </ul>
    </div>
<% elsif @error_message %>
    <div class="card card-header m-2">
    <span class='text-danger'><%= @error_message %></span>
    </div>
<% end %>
