<h1>My portfolio</h1>
<div class="row">
  <div class="col-sm-2">
      <%= turbo_frame_tag 'ticker_input_form' do %>
        <%= render partial: 'ticker_input_form' %>
      <% end %>
  </div>
  <div class="col-sm-6">
    <%= turbo_frame_tag 'api_result' do %>
    <% end %>
  </div>
</div>
<% if @tracked_stocks %>
  <div class="row">
    <div class="col-sm-8">
      <%= turbo_frame_tag 'portfolio' do %>
        <%= render partial: 'user_stocks/list', locals: { stocks: @tracked_stocks } %>
      <% end %>
    </div>
  </div>
<% end %>
